@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?cp455y');
  src:  url('fonts/icomoon.eot?cp455y#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?cp455y') format('truetype'),
    url('fonts/icomoon.woff?cp455y') format('woff'),
    url('fonts/icomoon.svg?cp455y#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-times1:before {
  content: "\e900";
}
.icon-tick:before {
  content: "\e901";
}
.icon-plus:before {
  content: "\e902";
}
.icon-minus1:before {
  content: "\e903";
}
.icon-equals:before {
  content: "\e904";
}
.icon-divide:before {
  content: "\e905";
}
.icon-chevron-right1:before {
  content: "\e906";
}
.icon-chevron-left1:before {
  content: "\e907";
}
.icon-arrow-right-thick:before {
  content: "\e908";
}
.icon-arrow-left-thick:before {
  content: "\e909";
}
.icon-th-small:before {
  content: "\e90a";
}
.icon-th-menu:before {
  content: "\e90b";
}
.icon-th-list:before {
  content: "\e90c";
}
.icon-th-large:before {
  content: "\e90d";
}
.icon-home4:before {
  content: "\e90e";
}
.icon-arrow-forward:before {
  content: "\e90f";
}
.icon-arrow-back:before {
  content: "\e910";
}
.icon-location1:before {
  content: "\e911";
}
.icon-link:before {
  content: "\e912";
}
.icon-image1:before {
  content: "\e913";
}
.icon-arrow-up-thick:before {
  content: "\e914";
}
.icon-arrow-down-thick:before {
  content: "\e915";
}
.icon-delete:before {
  content: "\e916";
}
.icon-cloud-storage:before {
  content: "\e917";
}
.icon-heart2:before {
  content: "\e918";
}
.icon-cancel:before {
  content: "\e919";
}
.icon-backspace:before {
  content: "\e91a";
}
.icon-attachment1:before {
  content: "\e91b";
}
.icon-warning2:before {
  content: "\e91c";
}
.icon-location-arrow:before {
  content: "\e91d";
}
.icon-eye1:before {
  content: "\e91e";
}
.icon-cog2:before {
  content: "\e91f";
}
.icon-camera:before {
  content: "\e920";
}
.icon-key:before {
  content: "\e921";
}
.icon-info-large:before {
  content: "\e922";
}
.icon-zoom-out1:before {
  content: "\e923";
}
.icon-zoom-in1:before {
  content: "\e924";
}
.icon-sort-numerically:before {
  content: "\e925";
}
.icon-sort-alphabetically:before {
  content: "\e926";
}
.icon-input-checked:before {
  content: "\e927";
}
.icon-calender:before {
  content: "\e928";
}
.icon-notes:before {
  content: "\e929";
}
.icon-code:before {
  content: "\e92a";
}
.icon-arrow-sync:before {
  content: "\e92b";
}
.icon-arrow-shuffle:before {
  content: "\e92c";
}
.icon-arrow-repeat:before {
  content: "\e92d";
}
.icon-spanner:before {
  content: "\e92e";
}
.icon-puzzle:before {
  content: "\e92f";
}
.icon-power:before {
  content: "\e930";
}
.icon-media-stop:before {
  content: "\e931";
}
.icon-media-record:before {
  content: "\e932";
}
.icon-media-play:before {
  content: "\e933";
}
.icon-media-fast-forward:before {
  content: "\e934";
}
.icon-times-outline:before {
  content: "\e935";
}
.icon-plus-outline:before {
  content: "\e936";
}
.icon-minus-outline:before {
  content: "\e937";
}
.icon-tick-outline:before {
  content: "\e938";
}
.icon-th-large-outline:before {
  content: "\e939";
}
.icon-equals-outline:before {
  content: "\e93a";
}
.icon-divide-outline:before {
  content: "\e93b";
}
.icon-chevron-right-outline:before {
  content: "\e93c";
}
.icon-chevron-left-outline:before {
  content: "\e93d";
}
.icon-arrow-right-outline:before {
  content: "\e93e";
}
.icon-arrow-left-outline:before {
  content: "\e93f";
}
.icon-th-small-outline:before {
  content: "\e940";
}
.icon-th-menu-outline:before {
  content: "\e941";
}
.icon-news:before {
  content: "\e942";
}
.icon-home-outline:before {
  content: "\e943";
}
.icon-arrow-up-outline:before {
  content: "\e944";
}
.icon-arrow-forward-outline:before {
  content: "\e945";
}
.icon-arrow-down-outline:before {
  content: "\e946";
}
.icon-arrow-back-outline:before {
  content: "\e947";
}
.icon-trash:before {
  content: "\e948";
}
.icon-star-outline:before {
  content: "\e949";
}
.icon-media-pause-outline:before {
  content: "\e94a";
}
.icon-mail:before {
  content: "\e94b";
}
.icon-heart-outline:before {
  content: "\e94c";
}
.icon-watch:before {
  content: "\e94d";
}
.icon-warning-outline:before {
  content: "\e94e";
}
.icon-time:before {
  content: "\e94f";
}
.icon-attachment-outline:before {
  content: "\e950";
}
.icon-eye-outline:before {
  content: "\e951";
}
.icon-cog-outline:before {
  content: "\e952";
}
.icon-tabs-outline:before {
  content: "\e953";
}
.icon-folder2:before {
  content: "\e954";
}
.icon-thumbs-up:before {
  content: "\e955";
}
.icon-thumbs-down:before {
  content: "\e956";
}
.icon-bookmark:before {
  content: "\e957";
}
.icon-code-outline:before {
  content: "\e958";
}
.icon-calender-outline:before {
  content: "\e959";
}
.icon-device-tablet:before {
  content: "\e95a";
}
.icon-device-phone:before {
  content: "\e95b";
}
.icon-device-laptop:before {
  content: "\e95c";
}
.icon-device-desktop:before {
  content: "\e95d";
}
.icon-briefcase2:before {
  content: "\e95e";
}
.icon-spanner-outline:before {
  content: "\e95f";
}
.icon-printer:before {
  content: "\e960";
}
.icon-contacts:before {
  content: "\e961";
}
.icon-messages:before {
  content: "\e962";
}
.icon-error:before {
  content: "\e963";
}
.icon-error_outline:before {
  content: "\e964";
}
.icon-warning3:before {
  content: "\e965";
}
.icon-recent_actors:before {
  content: "\e966";
}
.icon-subtitles:before {
  content: "\e967";
}
.icon-web:before {
  content: "\e968";
}
.icon-web_asset:before {
  content: "\e969";
}
.icon-fiber_pin:before {
  content: "\e96a";
}
.icon-branding_watermark:before {
  content: "\e96b";
}
.icon-call_to_action:before {
  content: "\e96c";
}
.icon-featured_play_list:before {
  content: "\e96d";
}
.icon-featured_video:before {
  content: "\e96e";
}
.icon-note:before {
  content: "\e96f";
}
.icon-video_label:before {
  content: "\e970";
}
.icon-call:before {
  content: "\e971";
}
.icon-call_end:before {
  content: "\e972";
}
.icon-contacts1:before {
  content: "\e973";
}
.icon-dialpad:before {
  content: "\e974";
}
.icon-email:before {
  content: "\e975";
}
.icon-forum:before {
  content: "\e976";
}
.icon-location_on:before {
  content: "\e977";
}
.icon-contact_phone:before {
  content: "\e978";
}
.icon-contact_mail:before {
  content: "\e979";
}
.icon-ring_volume:before {
  content: "\e97a";
}
.icon-content_paste:before {
  content: "\e97b";
}
.icon-create:before {
  content: "\e97c";
}
.icon-flag:before {
  content: "\e97d";
}
.icon-link1:before {
  content: "\e97e";
}
.icon-send1:before {
  content: "\e97f";
}
.icon-weekend:before {
  content: "\e980";
}
.icon-delete_sweep:before {
  content: "\e981";
}
.icon-outlined_flag:before {
  content: "\e982";
}
.icon-how_to_reg:before {
  content: "\e983";
}
.icon-where_to_vote:before {
  content: "\e984";
}
.icon-inventory:before {
  content: "\e985";
}
.icon-access_alarm:before {
  content: "\e986";
}
.icon-insert_drive_file:before {
  content: "\e987";
}
.icon-insert_emoticon:before {
  content: "\e988";
}
.icon-insert_invitation:before {
  content: "\e989";
}
.icon-folder3:before {
  content: "\e98a";
}
.icon-folder_open:before {
  content: "\e98b";
}
.icon-keyboard_arrow_down:before {
  content: "\e98c";
}
.icon-keyboard_arrow_left:before {
  content: "\e98d";
}
.icon-keyboard_arrow_right:before {
  content: "\e98e";
}
.icon-keyboard_arrow_up:before {
  content: "\e98f";
}
.icon-keyboard_voice:before {
  content: "\e990";
}
.icon-laptop_chromebook:before {
  content: "\e991";
}
.icon-laptop_mac:before {
  content: "\e992";
}
.icon-laptop_windows:before {
  content: "\e993";
}
.icon-phone_android:before {
  content: "\e994";
}
.icon-phone_iphone:before {
  content: "\e995";
}
.icon-security:before {
  content: "\e996";
}
.icon-watch1:before {
  content: "\e997";
}
.icon-navigate_before:before {
  content: "\e998";
}
.icon-navigate_next:before {
  content: "\e999";
}
.icon-picture_as_pdf:before {
  content: "\e99a";
}
.icon-location_history:before {
  content: "\e99b";
}
.icon-navigation:before {
  content: "\e99c";
}
.icon-pin_drop:before {
  content: "\e99d";
}
.icon-store_mall_directory:before {
  content: "\e99e";
}
.icon-near_me:before {
  content: "\e99f";
}
.icon-arrow_drop_down:before {
  content: "\e9a0";
}
.icon-arrow_drop_down_circle:before {
  content: "\e9a1";
}
.icon-arrow_drop_up:before {
  content: "\e9a2";
}
.icon-cancel1:before {
  content: "\e9a3";
}
.icon-check1:before {
  content: "\e9a4";
}
.icon-expand_less:before {
  content: "\e9a5";
}
.icon-expand_more:before {
  content: "\e9a6";
}
.icon-event_available:before {
  content: "\e9a7";
}
.icon-event_busy:before {
  content: "\e9a8";
}
.icon-event_note:before {
  content: "\e9a9";
}
.icon-school:before {
  content: "\e9aa";
}
.icon-account_circle:before {
  content: "\e9ab";
}
.icon-redeem:before {
  content: "\e9ac";
}
.icon-search1:before {
  content: "\e9ad";
}
.icon-settings:before {
  content: "\e9ae";
}
.icon-settings_applications:before {
  content: "\e9af";
}
.icon-all_inbox:before {
  content: "\e9b0";
}
.icon-home_filled:before {
  content: "\e9b1";
}
.icon-badge:before {
  content: "\e9b2";
}
.icon-build_circle:before {
  content: "\e9b3";
}
.icon-circle:before {
  content: "\e9b4";
}
.icon-miscellaneous_services:before {
  content: "\e9b5";
}
.icon-motion_photos_on:before {
  content: "\e9b6";
}
.icon-point_of_sale:before {
  content: "\e9b7";
}
.icon-request_quote:before {
  content: "\e9b8";
}
.icon-roofing:before {
  content: "\e9b9";
}
.icon-room_preferences:before {
  content: "\e9ba";
}
.icon-verified:before {
  content: "\e9bb";
}
.icon-wysiwyg:before {
  content: "\e9bc";
}
.icon-book_online:before {
  content: "\e9bd";
}
.icon-contact_page:before {
  content: "\e9be";
}
.icon-minus:before {
  content: "\f068";
}
.icon-envelope-o:before {
  content: "\f003";
}
.icon-heart:before {
  content: "\f004";
}
.icon-star:before {
  content: "\f005";
}
.icon-star-o:before {
  content: "\f006";
}
.icon-user:before {
  content: "\f007";
}
.icon-check:before {
  content: "\f00c";
}
.icon-close:before {
  content: "\f00d";
}
.icon-remove:before {
  content: "\f00d";
}
.icon-times:before {
  content: "\f00d";
}
.icon-cog:before {
  content: "\f013";
}
.icon-gear:before {
  content: "\f013";
}
.icon-home:before {
  content: "\f015";
}
.icon-file-o:before {
  content: "\f016";
}
.icon-road:before {
  content: "\f018";
}
.icon-print:before {
  content: "\f02f";
}
.icon-image:before {
  content: "\f03e";
}
.icon-photo:before {
  content: "\f03e";
}
.icon-picture-o:before {
  content: "\f03e";
}
.icon-pencil:before {
  content: "\f040";
}
.icon-map-marker:before {
  content: "\f041";
}
.icon-chevron-left:before {
  content: "\f053";
}
.icon-chevron-right:before {
  content: "\f054";
}
.icon-plus-circle:before {
  content: "\f055";
}
.icon-minus-circle:before {
  content: "\f056";
}
.icon-times-circle:before {
  content: "\f057";
}
.icon-check-circle:before {
  content: "\f058";
}
.icon-times-circle-o:before {
  content: "\f05c";
}
.icon-check-circle-o:before {
  content: "\f05d";
}
.icon-ban:before {
  content: "\f05e";
}
.icon-arrow-left:before {
  content: "\f060";
}
.icon-arrow-right:before {
  content: "\f061";
}
.icon-arrow-up:before {
  content: "\f062";
}
.icon-arrow-down:before {
  content: "\f063";
}
.icon-mail-forward:before {
  content: "\f064";
}
.icon-share:before {
  content: "\f064";
}
.icon-gift:before {
  content: "\f06b";
}
.icon-eye:before {
  content: "\f06e";
}
.icon-eye-slash:before {
  content: "\f070";
}
.icon-exclamation-triangle:before {
  content: "\f071";
}
.icon-warning:before {
  content: "\f071";
}
.icon-calendar:before {
  content: "\f073";
}
.icon-chevron-up:before {
  content: "\f077";
}
.icon-chevron-down:before {
  content: "\f078";
}
.icon-shopping-cart:before {
  content: "\f07a";
}
.icon-folder:before {
  content: "\f07b";
}
.icon-folder-open:before {
  content: "\f07c";
}
.icon-arrows-h:before {
  content: "\f07e";
}
.icon-camera-retro:before {
  content: "\f083";
}
.icon-cogs:before {
  content: "\f085";
}
.icon-gears:before {
  content: "\f085";
}
.icon-heart-o:before {
  content: "\f08a";
}
.icon-trophy:before {
  content: "\f091";
}
.icon-phone:before {
  content: "\f095";
}
.icon-square-o:before {
  content: "\f096";
}
.icon-bookmark-o:before {
  content: "\f097";
}
.icon-bell-o:before {
  content: "\f0a2";
}
.icon-hand-o-right:before {
  content: "\f0a4";
}
.icon-hand-o-left:before {
  content: "\f0a5";
}
.icon-hand-o-up:before {
  content: "\f0a6";
}
.icon-hand-o-down:before {
  content: "\f0a7";
}
.icon-arrow-circle-left:before {
  content: "\f0a8";
}
.icon-arrow-circle-right:before {
  content: "\f0a9";
}
.icon-arrow-circle-up:before {
  content: "\f0aa";
}
.icon-arrow-circle-down:before {
  content: "\f0ab";
}
.icon-briefcase:before {
  content: "\f0b1";
}
.icon-group:before {
  content: "\f0c0";
}
.icon-users:before {
  content: "\f0c0";
}
.icon-copy:before {
  content: "\f0c5";
}
.icon-files-o:before {
  content: "\f0c5";
}
.icon-paperclip:before {
  content: "\f0c6";
}
.icon-floppy-o:before {
  content: "\f0c7";
}
.icon-save:before {
  content: "\f0c7";
}
.icon-bars:before {
  content: "\f0c9";
}
.icon-navicon:before {
  content: "\f0c9";
}
.icon-reorder:before {
  content: "\f0c9";
}
.icon-truck:before {
  content: "\f0d1";
}
.icon-money:before {
  content: "\f0d6";
}
.icon-comment-o:before {
  content: "\f0e5";
}
.icon-comments-o:before {
  content: "\f0e6";
}
.icon-suitcase:before {
  content: "\f0f2";
}
.icon-building-o:before {
  content: "\f0f7";
}
.icon-folder-o:before {
  content: "\f114";
}
.icon-folder-open-o:before {
  content: "\f115";
}
.icon-smile-o:before {
  content: "\f118";
}
.icon-frown-o:before {
  content: "\f119";
}
.icon-meh-o:before {
  content: "\f11a";
}
.icon-flag-o:before {
  content: "\f11d";
}
.icon-flag-checkered:before {
  content: "\f11e";
}
.icon-shield:before {
  content: "\f132";
}
.icon-calendar-o:before {
  content: "\f133";
}
.icon-chevron-circle-left:before {
  content: "\f137";
}
.icon-chevron-circle-right:before {
  content: "\f138";
}
.icon-chevron-circle-up:before {
  content: "\f139";
}
.icon-chevron-circle-down:before {
  content: "\f13a";
}
.icon-archive:before {
  content: "\f187";
}
.icon-graduation-cap:before {
  content: "\f19d";
}
.icon-mortar-board:before {
  content: "\f19d";
}
.icon-fax:before {
  content: "\f1ac";
}
.icon-cube:before {
  content: "\f1b2";
}
.icon-cubes:before {
  content: "\f1b3";
}
.icon-codepen:before {
  content: "\f1cb";
}
.icon-paper-plane:before {
  content: "\f1d8";
}
.icon-send:before {
  content: "\f1d8";
}
.icon-paper-plane-o:before {
  content: "\f1d9";
}
.icon-send-o:before {
  content: "\f1d9";
}
.icon-sliders:before {
  content: "\f1de";
}
.icon-newspaper-o:before {
  content: "\f1ea";
}
.icon-cc-visa:before {
  content: "\f1f0";
}
.icon-cc-mastercard:before {
  content: "\f1f1";
}
.icon-cc-discover:before {
  content: "\f1f2";
}
.icon-cc-amex:before {
  content: "\f1f3";
}
.icon-copyright:before {
  content: "\f1f9";
}
.icon-line-chart:before {
  content: "\f201";
}
.icon-toggle-off:before {
  content: "\f204";
}
.icon-toggle-on:before {
  content: "\f205";
}
.icon-leanpub:before {
  content: "\f212";
}
.icon-diamond:before {
  content: "\f219";
}
.icon-genderless:before {
  content: "\f22d";
}
.icon-credit-card-alt:before {
  content: "\f283";
}
.icon-wpforms:before {
  content: "\f298";
}
.icon-envira:before {
  content: "\f299";
}
.icon-universal-access:before {
  content: "\f29a";
}
.icon-handshake-o:before {
  content: "\f2b5";
}
.icon-envelope-open:before {
  content: "\f2b6";
}
.icon-envelope-open-o:before {
  content: "\f2b7";
}
.icon-linode:before {
  content: "\f2b8";
}
.icon-address-book:before {
  content: "\f2b9";
}
.icon-address-book-o:before {
  content: "\f2ba";
}
.icon-address-card:before {
  content: "\f2bb";
}
.icon-vcard:before {
  content: "\f2bb";
}
.icon-address-card-o:before {
  content: "\f2bc";
}
.icon-vcard-o:before {
  content: "\f2bc";
}
.icon-user-circle:before {
  content: "\f2bd";
}
.icon-user-circle-o:before {
  content: "\f2be";
}
.icon-id-badge:before {
  content: "\f2c1";
}
.icon-drivers-license:before {
  content: "\f2c2";
}
.icon-id-card:before {
  content: "\f2c2";
}
.icon-drivers-license-o:before {
  content: "\f2c3";
}
.icon-id-card-o:before {
  content: "\f2c3";
}
.icon-warning4:before {
  content: "\e9bf";
}
.icon-archive1:before {
  content: "\e9c0";
}
.icon-attachment2:before {
  content: "\e9c1";
}
.icon-box:before {
  content: "\e9c2";
}
.icon-briefcase3:before {
  content: "\e9c3";
}
.icon-calendar2:before {
  content: "\e9c4";
}
.icon-credit-card1:before {
  content: "\e9c5";
}
.icon-credit:before {
  content: "\e9c6";
}
.icon-folder-images:before {
  content: "\e9c7";
}
.icon-folder4:before {
  content: "\e9c8";
}
.icon-image-inverted:before {
  content: "\e9c9";
}
.icon-image2:before {
  content: "\e9ca";
}
.icon-images:before {
  content: "\e9cb";
}
.icon-mail1:before {
  content: "\e9cc";
}
.icon-paper-plane1:before {
  content: "\e9cd";
}
.icon-price-ribbon:before {
  content: "\e9ce";
}
.icon-shop:before {
  content: "\e9cf";
}
.icon-wallet:before {
  content: "\e9d0";
}
.icon-box1:before {
  content: "\e9d1";
}
.icon-cog3:before {
  content: "\e9d2";
}
.icon-credit-card2:before {
  content: "\e9d3";
}
.icon-currency-dollar:before {
  content: "\e9d4";
}
.icon-gift2:before {
  content: "\e9d5";
}
.icon-globe:before {
  content: "\e9d6";
}
.icon-location3:before {
  content: "\e9d7";
}
.icon-location-current:before {
  content: "\e9d8";
}
.icon-location-food:before {
  content: "\e9d9";
}
.icon-photo1:before {
  content: "\e9da";
}
.icon-send2:before {
  content: "\e9db";
}
.icon-shopping-cart1:before {
  content: "\e9dc";
}
.icon-store-front:before {
  content: "\e9dd";
}
.icon-trash1:before {
  content: "\e9de";
}
.icon-travel:before {
  content: "\e9df";
}
.icon-travel-case:before {
  content: "\e9e0";
}
.icon-home1:before {
  content: "\e9e1";
}
.icon-home2:before {
  content: "\e9e2";
}
.icon-home3:before {
  content: "\e9e3";
}
.icon-newspaper:before {
  content: "\e9e4";
}
.icon-profile:before {
  content: "\e9e5";
}
.icon-folder1:before {
  content: "\e9e6";
}
.icon-folder-open1:before {
  content: "\e9e7";
}
.icon-price-tag:before {
  content: "\e9e8";
}
.icon-price-tags:before {
  content: "\e9e9";
}
.icon-barcode:before {
  content: "\e9ea";
}
.icon-qrcode:before {
  content: "\e9eb";
}
.icon-ticket:before {
  content: "\e9ec";
}
.icon-cart:before {
  content: "\e9ed";
}
.icon-coin-dollar:before {
  content: "\e9ee";
}
.icon-credit-card:before {
  content: "\e9ef";
}
.icon-address-book1:before {
  content: "\e9f0";
}
.icon-location:before {
  content: "\e9f1";
}
.icon-location2:before {
  content: "\e9f2";
}
.icon-compass:before {
  content: "\e9f3";
}
.icon-compass2:before {
  content: "\e9f4";
}
.icon-map:before {
  content: "\e9f5";
}
.icon-map2:before {
  content: "\e9f6";
}
.icon-alarm:before {
  content: "\e9f7";
}
.icon-bell:before {
  content: "\e9f8";
}
.icon-calendar1:before {
  content: "\e9f9";
}
.icon-bubble:before {
  content: "\e9fa";
}
.icon-bubbles:before {
  content: "\e9fb";
}
.icon-bubbles2:before {
  content: "\e9fc";
}
.icon-bubble2:before {
  content: "\e9fd";
}
.icon-bubbles3:before {
  content: "\e9fe";
}
.icon-bubbles4:before {
  content: "\e9ff";
}
.icon-spinner:before {
  content: "\ea00";
}
.icon-spinner2:before {
  content: "\ea01";
}
.icon-search:before {
  content: "\ea02";
}
.icon-zoom-in:before {
  content: "\ea03";
}
.icon-zoom-out:before {
  content: "\ea04";
}
.icon-cog1:before {
  content: "\ea05";
}
.icon-cogs1:before {
  content: "\ea06";
}
.icon-gift1:before {
  content: "\ea07";
}
.icon-hammer2:before {
  content: "\ea08";
}
.icon-bin:before {
  content: "\ea09";
}
.icon-bin2:before {
  content: "\ea0a";
}
.icon-briefcase1:before {
  content: "\ea0b";
}
.icon-truck1:before {
  content: "\ea0c";
}
.icon-clipboard:before {
  content: "\ea0d";
}
.icon-attachment:before {
  content: "\ea0e";
}
.icon-heart1:before {
  content: "\ea0f";
}
.icon-heart-broken:before {
  content: "\ea10";
}
.icon-warning1:before {
  content: "\ea11";
}
.icon-notification:before {
  content: "\ea12";
}
.icon-question:before {
  content: "\ea13";
}
.icon-enter:before {
  content: "\ea14";
}
.icon-exit:before {
  content: "\ea15";
}
.icon-infinite:before {
  content: "\ea2f";
}
.icon-circle-up:before {
  content: "\ea41";
}
.icon-circle-right:before {
  content: "\ea42";
}
.icon-circle-down:before {
  content: "\ea43";
}
.icon-circle-left:before {
  content: "\ea44";
}
.icon-ctrl:before {
  content: "\ea50";
}
.icon-checkbox-checked:before {
  content: "\ea52";
}
.icon-checkbox-unchecked:before {
  content: "\ea53";
}
.icon-radio-checked:before {
  content: "\ea54";
}
.icon-radio-checked2:before {
  content: "\ea55";
}
.icon-radio-unchecked:before {
  content: "\ea56";
}
.icon-make-group:before {
  content: "\ea58";
}
.icon-pagebreak:before {
  content: "\ea6e";
}
.icon-table:before {
  content: "\ea70";
}
.icon-table2:before {
  content: "\ea71";
}
.icon-mail4:before {
  content: "\ea86";
}
.icon-telegram:before {
  content: "\ea95";
}
.icon-file-pdf:before {
  content: "\eadf";
}
.icon-file-word:before {
  content: "\eae1";
}
.icon-file-excel:before {
  content: "\eae2";
}
.icon-libreoffice:before {
  content: "\eae3";
}
.icon-codepen1:before {
  content: "\eae8";
}
