<div class="login-ctn">
    <div class="login-logo-ctn">
        <div class="login-logo-img">
            <div class="logo-img"></div>
        </div>
        <div class="login-logo-slogan">
            <h1 class="logo-slogan">
                La mejor <span class="slogan-color">experiencia</span> para tu negocio
            </h1>
        </div>
    </div>

    <div class="login-box-ctn" #home >
        <div class="box-ctn">
            <div class="btn btn3">Ingresar</div>
        </div>
    </div>

    <div class="login-efecto-ctn">
        <div class="login-efecto"></div>
        <div class="login-efecto"></div>
        <div class="login-efecto"></div>
        <div class="login-efecto"></div>
        <div class="login-efecto"></div>
        <div class="login-efecto"></div>
        <div class="login-efecto"></div>
        <div class="login-efecto"></div>
    </div>

    
</div>
